.sort{
    position: relative;
}

.desc{
    position: absolute;
    content: "";
    top: 3px;
    left: 2px;
    width: 10px;
    height: 7px;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background-color: #000;
    cursor: pointer;
}

.asc{
    position: absolute;
    content: "";
    top: 14px;
    left: 2px;
    width: 10px;
    height: 7px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    background-color: #000;
    cursor: pointer;
}

/* テーブル */

.se{
    background-color: #000;
}