a img:hover {
    transform: scale(1.03);
}

.sort {
    position: relative;
}

.container {
    max-width: 100% !important;
    min-width: 100% !important;
}

.container.top {
    min-height: 79vh;
}

.desc {
    position: absolute;
    content: "";
    top: 3px;
    left: 2px;
    width: 10px;
    height: 7px;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background-color: #000;
    cursor: pointer;
}

.asc {
    position: absolute;
    content: "";
    top: 14px;
    left: 2px;
    width: 10px;
    height: 7px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    background-color: #000;
    cursor: pointer;
}

/* テーブル */

.se {
    background-color: #000;
}

.detail {
    text-decoration: underline;
    cursor: pointer;
}

/* ボタン */
.menuLogo {
    width: 150px;
    cursor: pointer;
}

.menuLogo:hover {
    transform: scale(1.02);
}

.category {
    width: 180px;
    height: 34px;
}



/* お客様名 */
.customer-info p {
    margin-bottom: 0px;
}

.customer-info span {
    font-size: .675rem;
}

/* 円グラフ */
.pie {
    width: 80% !important;
    max-width: 420px !important;
    height: auto !important;
    margin: 10px auto;
}

.pie.kaeru {
    width: 80% !important;
    max-width: 580px !important;
    height: auto !important;
    margin: 10px auto;
}

.accordion-button::after {
    position: absolute;
    left: 4px;
    content: "+";
    /* テキストより前に表示 */
    background-image: none !important;
    /* デフォルトの矢印画像を削除 */
    transform: none !important;
    /* transform で回転されるデフォルト効果も無効化 */
    font-size: 1rem;
    background-color: #fff;
    text-align: center;
    width: 14px;
    border-radius: 3px;
}

.accordion-button:not(.collapsed)::after {
    content: "–";
}

.thread {
    font-size: 11px
}

.totalTable {
    width: 96%;
    font-size: 12px;
}

.sectionTable {
    font-size: 11px;
}

.tableTtl.total {
    width: 100px;
}

.staffName {
    width: 210px;
}


.accordion-button {
    background-color: transparent;
    /* お好みの色に変更 */
}

.accordion-item {
    background-color: transparent
        /* お好みのカラーコードを指定 */
}


.accordion-button:not(.collapsed) {
    background-color: transparent;
    /* お好みの色に変更 */
}

.lineGraph {
    width: 50% !important;
    height: 300px !important;
    margin: 0 auto;
}

/* loading */
.spinning {
    animation: rotateAnimation 2s linear infinite;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

.form-select {
    height: 40px !important;
}


.sticky-header {
    position: sticky;
    top: 0;
    z-index: 20;
    /* 列より大きく */
    background: #fff;
}

.sticky-column {
    position: sticky;
    left: 0;
    z-index: 10;
    background: #fff;
}


.sticky-corner {
    position: sticky;
    top: 0;
    /* 上方向に固定 */
    left: 0;
    /* 左方向に固定 */
    background: #fff;
    /* 背景を必ず指定（透け防止） */
    z-index: 3;
    /* 他セルより前面に出す */
}

.sticky-top {
    z-index: 10000;
    background: #fff;
    position: relative;
}

.inquiry_ui {
    height: 100vh;
}

.inquiry {
    width: 100%;
    overflow-x: scroll;
    height: 90vh;
}

.inquiry_table {
    width: 2600px;
    font-size: .875rem;
}

.budget_table {
    width: 3200px;
    font-size: .875rem;
}

.budget_show {
    text-decoration: underline;
    cursor: pointer;
}


.budget_note {
    z-index: 1000 !important;
    width: 768px;
    height: 50vh;
    overflow-y: scroll;
    top: 5vh;
    left: calc(49.5% - 384px);
    text-decoration: none;
    color: #000 !important;
    box-shadow: 0 0 8px gray;
}

.budget_note ul {
    border-radius: 0 !important;
}

.budget_note ul li {
    font-size: .75rem;
}

.inquiry_table.bottom {
    width: 2600px;
    font-size: .875rem;
}

.plus-icon {
    left: 24px !important;
    cursor: pointer;
}

.minus-icon {
    left: -24px !important;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.tag {
    width: fit-content;
    cursor: pointer;
    opacity: .3;
    transform: scale(.9);
}

.tag.checked {
    opacity: 1;
    transform: scale(1);
}

/* position:stickyを有効にする処理 */
.white-object {
    content: "";
    width: 1300px;
    height: 56.5px;
    z-index: 100;
    /* background-color: rgb(10, 10, 10); */
}

.campaign {
    z-index: 1000;
}

.shopSelect {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 3px 0;
}

.shopSelect option {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

.kh {
    background-color: #0f3675;
    white-space: nowrap;
}

.djh {
    background-color: #28aeba;
    white-space: nowrap;
}

.nagomi {
    background-color: #956134;
    white-space: nowrap;
}

.nieru {
    background-color: #0d9f6d;
    white-space: nowrap;
}

.fh {
    background-color: #cd3c33;
    white-space: nowrap;
}

.pgh {
    background-color: #000;
    white-space: nowrap;
}

.jh {
    background-color: #dc4235;
    white-space: nowrap;
}

.kh.hotlead {
    background-color: #0f3675;
    white-space: nowrap;
    text-decoration: underline;
}

.khg {
    background-color: #6c757d;
    white-space: nowrap;
}

.shop_list {
    height: 200px !important;
    overflow-y: auto;
    z-index: 1000;
    width: 200px;
    top: 0px;
    left: 80px;
}

.shop_list p {
    font-size: .75rem;
}

.shop_list ul li {
    list-style: none;
    font-size: .75rem;
    cursor: pointer;
    text-decoration: none;
}


.duplicate {
    font-size: .875rem;
    padding: 0 10px;
}

.accounting {
    top: -10px;
    right: 3px;
    font-size: .75rem;
}

.accounting_new {
    top: -3px;
    right: 3px;
    font-size: 8px;
}

thead tr:nth-of-type(even) th {
    background-color: #eeeeee !important;
    /* 奇数行にストライプを適用 */
}

.sticky-header {
    z-index: 100 !important;
}

.pointer-icon {
    cursor: pointer;
    background-color: #ffffff9d;
    padding: 2px;
}

.table_content {
    height: 70vh !important;
    overflow-y: scroll;
}

.post_content {
    top: 70vh;
    right: 120px;
    font-size: 50px;
    cursor: pointer;
    z-index: 1000;
}

.post_content:hover {
    transform: scale(1.05);
    opacity: .8;
}

.info_icon {
    font-size: .875rem;
}

.dropzone {
    border: dashed 3px;
    cursor: pointer;
}

.preview-delete {
    top: -12px;
    left: 0;
    cursor: pointer;
}

.preview-delete:hover {
    transform: scale(1.02);
}

.forum_img {
    cursor: pointer;
}

.forum_img:hover {
    transform: scale(1.03);
}

/* カレンダー */
.react-calendar {
    width: 95% !important;
    margin: 0 auto !important;
}

.react-calendar__tile {
    height: 160px !important;
    position: relative !important;
    border-bottom: 1px solid #dddddd !important;
}

.react-calendar__tile abbr {
    position: relative;
    z-index: 10;
}

.selected-range {
    position: relative;
}

.selected-range.openhouse {
    background-color: #d3be02;
}

.selected-range.event::before {
    position: absolute;
    background-color: #007bff;
    z-index: 0;
    top: 30px;
    left: 0;
    width: 100%;
    height: 27px;
    content: '';
    cursor: pointer;
}

.selected-range.event_even::before {
    position: absolute;
    background-color: #007bff;
    z-index: 0;
    top: 60px;
    left: 0;
    width: 100%;
    height: 27px;
    content: '';
    cursor: pointer;
}

.selected-range.event.event_even::after {
    position: absolute;
    background-color: #007bff;
    z-index: 0;
    top: 30px;
    left: 0;
    width: 100%;
    height: 27px;
    content: '';
    cursor: pointer;
}

.selected-range.medium::after {
    position: absolute;
    z-index: 20;
    top: 90px;
    left: 0;
    width: 100%;
    height: 27px;
    content: '';
    background-color: #fa0909;
}

/* カレンダーのデフォルト設定 */
.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
    display: none !important;
}

.react-calendar__navigation__label {
    background-color: #f7f7f7 !important;
    color: #000
}

.react-calendar__tile {
    display: flex;
    align-items: start;
}

.react-calendar__tile--active {
    background-color: #dfdfdffb !important;
    color: #808080 !important;
}

.selected-range.event {
    position: relative;
}

.title .event {
    position: absolute;
    z-index: 10;
    top: 26px;
    left: -7vw;
    width: 20vw;
    color: #fff;
}

.title .event_even {
    position: absolute;
    z-index: 10;
    top: 55px;
    left: -7vw;
    width: 20vw;
    color: #fff;
}

.title .openhouse {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: -7vw;
    width: 20vw;
    color: #fff;
}

.title .medium {
    position: absolute;
    z-index: 30;
    top: 86px;
    left: -7vw;
    width: 20vw;
    color: #fff;
}

.customer_list {
    position: absolute;
    top: 120px;
    left: 2vw;
}

.modal_event_list {
    font-size: .75rem;
}

.modal_event_list .btn {
    font-size: .75rem;
}


.event_modal {
    background-color: #007bff !important;
}

.medium_modal {
    background-color: #fa0909 !important;
}

.openhouse_modal {
    background-color: #d3b402 !important;
}

.reserved-counter {
    width: 70px;
    margin: 0 auto;
}

.calendar_modal_close {
    width: 150px;
    margin: 0 auto;
}

.custom-calendar {
    padding: 10px;
}

.custom-calendar th {
    font-size: .6765rem;
    cursor: pointer;
}

.custom-calendar tbody th:hover {
    background-color: #e2e2e2;
}

.list .event {
    position: absolute;
    z-index: 20;
    top: 15px;
    left: 3px;
    width: 300px;
    color: #ffffff;
}

.list .event_even {
    position: absolute;
    z-index: 20;
    top: 48px;
    left: 3px;
    width: 300px;
    color: #ffffff;
}

.list .openhouse {
    position: absolute;
    z-index: 20;
    top: -7px;
    left: 5px;
    width: 300px;
    color: #000000;
}

.list .medium {
    position: absolute;
    z-index: 30;
    top: 50px;
    left: 0;
    width: 20vw;
    color: #cd3c33;
}

.openhouse_list {
    position: relative;
}

.openhouse_list::after {
    position: absolute;
    content: '';
    z-index: 10;
    top: -8px;
    left: 0;
    background-color: #d3b402;
    width: 3.1vw;
    min-width: 45px;
    height: 80px;
}

.medium_list {
    position: relative;
}

.medium_list::after {
    position: absolute;
    content: '';
    z-index: 28;
    top: 65px;
    left: 0;
    background-color: #cd3c33;
    width: 3.1vw;
    min-width: 45px;
    height: 2px;
}

.event_list {
    position: relative;
}

.event_list::before {
    position: absolute;
    content: '';
    z-index: 15;
    top: 10px;
    left: 0;
    background-color: #007bff;
    width: 3.2vw;
    min-width: 45px;
    height: 30px;
}

.event_even_list {
    position: relative;
}

.event_even_list::after {
    position: absolute;
    z-index: 15;
    content: '';
    top: 42px;
    left: 0;
    background-color: #007bff;
    width: 3.2vw;
    min-width: 45px;
    height: 30px;
}

input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    opacity: 0;
}

.month_guide {
    position: fixed;
    width: 77%;
    top: 19vh;
    z-index: 1000;
}

.inquiry-number {
    top: 30px;
    left: calc(50% - 13px);
}

.month-label {
    font-size: .875rem;
    top: 4px;
    left: -106px;
}

.no-border-table {
    border: none !important;
}

.no-border-table th,
.no-border-table td {
    border: none !important;
    cursor: text !important;
}

th {
    border-right: none !important;
}

.hover:hover {
    color: red;
    transform: scale(1.02);
    font-weight: bold;
}

.custom-tooltip {
    min-width: 80vw;
    max-width: 80vw;
    height: 30vw;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 13px;
    background-color: #000000;
    color: #fff;
    position: absolute;
    top: 0;
}

/* これで背景を白っぽく変更できる */
.custom-tooltip .tooltip-inner {
    background-color: #f9f9f9 !important;
    color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


/* 一括査定 */
.category_menu {
    font-size: 11px;
    background-color: #D3D3D3;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
}

.category_menu.selected {
    font-size: 11px;
    background-color: #707070;
    font-weight: 500;
    color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    width: calc(80% + (20% - 200px));
}

.content.database {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
}

.content.calendar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
}


.content.customer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top_content {
    overflow-y: scroll;
}

.divider {
    height: 6px;
    cursor: row-resize;
    background: #666;
}

.bottom_content {
    flex: 1;
    overflow-y: scroll;
}

.target {
    border-radius: 6px;
    height: 30px;
    width: 200px;
    padding-left: 4px;
    font-size: 12px;
    border: 1px solid #D3D3D3;
}

.target.resale_call {
    border-radius: 6px;
    height: 30px;
    width: 110px;
    padding-left: 4px;
    font-size: 12px;
    border: 1px solid #D3D3D3;
}

.target.textarea {
    width: 200px;
    height: 70px;
    padding-left: 4px;
    font-size: 12px;
    border: 1px solid #D3D3D3;
}

.bottom_left {
    width: 500px;
}

.bottom_right {
    width: calc(100% - 600px);
}

.table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* iOSで慣性スクロール */
}

.list_table {
    width: 98%;
}

.list_table.calendar {
    height: 100vh;
    overflow-y: scroll;
}

.customer_detail {
    position: absolute;
    top: -10px;
    left: 51px;
    margin-top: 4px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 600px;
    height: 500px;
    overflow-y: scroll;
}

.customer_detail.middle {
    top: -200px;
}

.customer_detail.under,
.customer_detail.right.under {
    top: -475px;
}

.customer_detail.right {
    left: -600px;
}

.customer_detail.middle.bottom_right {
    top: -200px;
}

.graph_pc {
    display: none;
}

.graph_pc.show {
    display: block;
}

.kaeru_icon {
    position: relative;
    padding-left: 10px;
}

.kaeru_icon::after {
    position: absolute;
    content: '+';
    top: 0;
    left: -6px;
    cursor: pointer;
    background-color: #D3D3D3;
    padding: 0 3px;
    border-radius: 2px;
}

.kaeru_icon.minus::after {
    position: absolute;
    content: '-';
    top: 0;
    left: -6px;
    cursor: pointer;
    background-color: #D3D3D3;
    padding: 0 3px;
    border-radius: 2px;
}

.phone_call {
    display: none;
}

.pointerZoom {
    cursor: pointer;
}

.pointerZoom:hover {
    transform: scale(1.2);
}

.resale_customer_button {
    background-color: #007bff;
    color: #fff;
    font-size: 12px;
    padding: 3px 13px;
    border-radius: 15px;
    cursor: pointer;
}

.resultModal {
    position: fixed;
    width: 70vw;
    background-color: #535353;
    box-shadow: 0px 0px 15px -5px #777777;
    height: 300px;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 12px;
}

.resultModal table tr td{
    border: 1px solid #ffffff5b;
}

.medium_expand{
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .month_guide {
        position: fixed;
        width: 90%;
        top: 19vh;
        z-index: 1000;
    }

    .target {
        border-radius: 6px;
        height: 30px;
        width: 43vw;
        padding-left: 4px;
        font-size: 12px;
        border: 1px solid #D3D3D3;
    }

    .target.textarea {
        width: 43vw;
    }

    .list_table {
        width: 100%;
        min-width: 1200px;
    }

    .list_table.contract {
        width: 100%;
        min-width: 520px;
    }

    .list_table.resale {
        width: 100%;
        min-width: 520px;
    }

    .list_table.rank {
        width: 100%;
        min-width: 1200px;
        overflow-x: scroll;
    }

    .list_table.customer {
        width: 100%;
        min-width: 900px;
        overflow-x: scroll;
    }

    .list_table.database {
        width: 100%;
        min-width: 300px;
        max-width: 700px;
    }

    .list_table.database_list {
        width: 100%;
        min-width: 800px;
        max-width: 900px;
    }

    .list_table.calendar {
        width: 100%;
        min-width: 700px;
    }

    .list_table.map {
        width: 100%;
        min-width: none;
    }

    .list_table.kaeru {
        width: 100%;
        min-width: 700px;
    }

    .bottom_left {
        width: 100%;
    }

    .bottom_right {
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        /* ←これが必須 */
        height: 100vh;
        overflow-y: hidden;
        width: 100%;
        margin-top: 12vw;
    }

    .lineGraph {
        width: 90vw !important;
        height: 80vw !important;
        margin-left: 0;
    }

    .totalTable {
        width: 93vw;
    }

    .sectionTable {
        width: 98vw;
    }

    .tableTtl {
        font-size: 10px;
        transform: translateY(1vw);
    }

    .thread {
        font-size: 8px;
        width: 30px;
    }

    .tableTtl.total {
        transform: translateY(0);
        width: 30px;
    }

    .thread_bottom {
        font-size: 12px;
    }

    .customer_detail {
        position: absolute;
        top: 20px;
        left: -20vw;
        margin-top: 4px;
        padding: 8px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
        width: 80vw;
        height: 500px;
        overflow-y: scroll;
        overflow-x: scroll;
    }

    .customer_detail.middle {
        top: 20px;
    }

    .customer_detail.under,
    .customer_detail.right.under {
        top: -485px;
    }

    .customer_detail.right {
        left: -600px;
    }

    .customer_detail.middle.bottom_right {
        top: -200px;
    }

    .pie.kaeru {
        width: 90vw !important;
        max-width: 350px !important;
        height: auto !important;
        margin: 10px auto;
    }

    .phone_call {
        display: block;
        position: fixed;
        bottom: 2vw;
        left: 2.5%;
        width: 90%;
        background-color: #cd3c33;
        border-radius: 5vw;
        z-index: 99999;
        color: #fff;
        text-align: center;
        padding: 2vw;
        font-size: 4vw;
        font-weight: 800;
        letter-spacing: 1vw;
        box-shadow: 0px 0px 35px -35px #777777;
    }
}