input::placeholder {
  color: #cfcfcf !important;
  font-size: 12px;
  opacity: 1;
  /* Firefox対策 */
}

textarea::placeholder {
  color: #cfcfcf !important;
  font-size: 12px;
  opacity: 1;
  /* Firefox対策 */
}

.custom-pagination {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 4px;
}

.custom-pagination li button {
  background-color: #f0f0f0;
  /* グレイ */
  color: #333;
  /* 黒に近い文字色 */
  border: 1px solid #ffffff;
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 11px;
}

.custom-pagination li.active button {
  background-color: #333;
  /* 黒背景 */
  color: #fff;
  /* 白文字 */
  border-color: #333;
}

.menu_tab {
  background-color: #aaaaaa;
  color: #000;
  padding: 5px 0;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 10px;
  cursor: pointer;
  width: 11%;
}

.menu_tab:hover {
  opacity: .7;
  transform: scale(1.03);
}

.menu_tab.selected {
  background-color: #cecece;
  transform: scale(1.02);
  font-size: 10px;
}

.fixed-header-modal .modal-content {
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.modal-header-sticky {
  position: sticky;
  top: 0;
  z-index: 1055;
  background-color: white;
}

.modal_body {
  overflow-x: hidden;
}

.handle_button {
  bottom: 15vh;
  width: 100%;
}

.handle_button .button {
  width: 10vw;
  background-color: #aaaaaa;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin: 0 1vw;
  border-radius: 3vw;
  cursor: pointer;
  padding: 5px;
}

.handle_button a {
  text-decoration: none;
  color: #000;
}

.decoBtn {
  background-color: #ffffff;
  color: #383838;
  border: 1px solid #919191;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 4px;
}

.preview {
  width: 100vw;
  height: 100vh;
  background-color: #000000a4;
  position: fixed;
  top: 0;
  left: 0;
}

.preview .phone {
  position: fixed;
  top: 3vh;
  width: 330px;
  left: calc(50% - 165px);
}

.preview .phone .content {
  top: 10px;
  left: 9px;
  height: 633px;
  overflow-y: scroll;
  border-radius: 50px;
  padding: 10px;
  width: 310px;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE, Edgeレガシー */
  z-index: 9999;
  background-color: #fff;
}

.preview .phone .content::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, 新Edge */
}

.hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.transparent {
  color: transparent;
}

.header_sp {
  display: none;
}

.modal_list.database {
  font-size: 12px;
  width: 23%;
  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 5px;
}

.modal_menu {
  width: 20%;
  max-width: 200px;
}

@media screen and (min-width:769px) {
  .modal_menu_sp {
    display: none;
  }
}

@media screen and (max-width:768px) {
  .header_sp {
    display: block;
    width: 100vw;
    height: min(100px, 10vw);
    position: fixed;
    background-color: #e9e9e9;
    top: 0;
    z-index: 100;
  }

  .header_sp .hamburger,
  .modal_menu_sp .hamburger {
    font-size: 8vw;
    padding: 1vw;
    cursor: pointer;
    display: block;
  }

  .modal_menu_sp .hamburger {
    left: 70vw;
  }

  .modal_menu {
    display: none;
  }

  .modal_menu_sp {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
    background-color: #fff;
    z-index: 10000;

    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    display: block;
    /* ← ここで常に block にしておく */

    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }

  .modal_menu_sp.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .handle_button .button {
    width: 30vw;
  }

  .modal_list.database {
    font-size: 10px;
    width: 29%;
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 5px;
  }
}